@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --brand-color: #e6007a;
  --blue-color: #1b95e0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  padding-bottom: 0.5rem;
  padding-top: 40px;
}

.customNav {
  margin-left: auto;
  margin-right: initial !important;
  align-items: center;
}
.customNav a {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.navCta {
  background-color: var(--brand-color);
  color: #fff !important;
  height: 51px;
  line-height: 51px;
  max-width: 190px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0 20px !important;
  margin-left: 25px;
}

.heroSection {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 75px;
  font-family: "Open Sans", sans-serif;
}

.heroSection p {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

.heroSection button {
  background-color: var(--brand-color);
  color: #fff;
  height: 51px;
  line-height: 51px;
  max-width: 173px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.searchbarContainer {
  position: relative;
  margin-bottom: 50px;
}

.searchbarContainer input {
  background: #ffffff;
  box-shadow: 0px 3px 90px rgb(0 0 0 / 10%);
  border-radius: 6px;
  border: none;
  height: 88px;
  width: 100%;
  padding: 30px 30px 30px 75px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.searchbarContainer span img {
  position: absolute;
  top: 25px;
  left: 20px;
}

.searchbarContainer span img {
  transform: scale(0.9);
}

.filterCard {
  background: #ffffff;
  box-shadow: 0px 3px 90px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin-top: 40px;
}

.filterLocation {
  margin-bottom: 20px;
}

.filterTitle {
  color: #333;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.searchbarCont {
  position: relative;
  margin-bottom: 10px;
  width: calc(100% - 25px);
}

.searchbarCont input {
  background: #ececec;
  border-radius: 6px;
  border: none;
  height: 45px;
  width: 100%;
  padding: 10px 10px 10px 45px;
  font-size: 16px;
  line-height: 30px;
}

.searchbarCont span img {
  position: absolute;
  top: 0;
  left: 5px;
}

.searchbarCont span img {
  transform: scale(0.6);
  opacity: 0.6;
}

.cityName {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.cityCount {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}

.eventCard {
  background: #ffffff;
  box-shadow: 0px 3px 90px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 40px;
  position: relative;
  margin-bottom: 60px;
}

.eventCard .tag {
  position: absolute;
  right: 25px;
  top: 20px;
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
  border-radius: 6px;
  padding: 0px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventTitle {
  font-size: 30px;
  font-weight: 800;
  line-height: 75px;
}

.eventDate {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.eventDescription {
  margin-bottom: 30px;
}

.hashTag {
  padding: 10px 30px;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  margin: 30px 0;
  background-color: #fff;
}
.codeConduct {
  color: var(--blue-color);
  padding-left: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .heroSection {
    height: 100%;
    padding: 50px 0;
  }
  .heroSection h1 {
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
  }

  .searchbarContainer {
    margin-bottom: 10px;
  }

  .form-check-inline {
    margin-right: 5px;
  }

  .filterCard {
    margin-bottom: 20px;
  }

  .displayFlex {
    display: block;
  }

  .eventDescription {
    margin-top: 10px;
  }
  .filterCard {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
    .heroSection img {
        display: none;
      }
}

/* ---------------------------------------- footer style css                 
                ------------------------------------------------------------------------------------------------------- */

                .footer {
                  padding: 5rem 0;
                  background-color: #182334;
                  color: #fff;
                }
                .footer h4 {
                  color: #fff;
                  font-size: .8rem;
                }
                y .footer a {
                  color: #fff;
                }
                .footer h5 {
                  color: #fff;
                }
                